@mixin popup($width, $height) {
  width: $width;
  height: $height;

  position: absolute;
  top: 0;
  left: 0;
  margin: calc((100vh - #{$height}) / 2) calc((100vw - #{$width}) / 2);
}

.input-editor {
  @include popup(503px, 769px);

  background-color: white;
  color: black;
  text-align: center;

  &-blur{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(53px);
  }
}